body {
    background-color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
h1{
    color: white;
    text-align: center;
}
h4{
    color: white;
}
h3{
    color: white;
}
li{
    color: white;
}
h2{
    color: white;
}

.center{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
  padding-top: 5%;
}
#header {
    position: fixed;
       text-align: center;    
       width: 100%;
       background-color: black;
}
p{
    color: white;
}

i{
    color: white;
}
spkr{
    color: white;
    font-size: 18px;
}
span.robin.on{
    color: red;
}
span.cyborg.on{
    color: blue;
}

span.beastBoy.on{
    color: green;
}
span.starfire.on{
    color: yellow;
}
span.raven.on{
    color: purple;
}
#fieldset {
    text-align: left;
    background-color: grey;
    padding: 3px 3px 3px 3px;
}

.aboutContain{
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 100%;
    margin-top: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    justify-content: space-around;
    color: white;
}
#project{
position: relative;
max-width: 100%;
color: white;
padding-top: 20px;

}
.imageContainer{
    width: 20%;
    justify-content: space-around;
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    
}
.charsContain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}
.textContain{
     flex:1;
    justify-content: space-around;
    flex-direction: column;
    padding:20px;
    font-size:18px;
    margin:20px;
    margin-top:30px;
}

#Shan img{
    width: 450px;
    height: 300px;
    float: inherit;
}
.container{
    display:flex;
    position: absolute;
    max-width: 100%;
    margin-top: 40px;
}
#episode{
    flex: 1;
    border: 1px solid #00e600;
    flex-direction: column;
    margin: 2px;
    padding: 10px;
}
#issue{
    flex:1;
    border: 1px solid #00e600;
    flex-direction: column;
    margin: 2px;
    padding: 10px;
}

a:link {color: orange;} /* unvisited link */
a:visited {color:#1aa3ff
;}  /* visited link */
a:hover {color:#00e600
;}  /* mouse over link */