body {
    background-color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}
h1{
    color: white;
    text-align: center;
}
h4{
    color: white;
}
h3{
    color: white;
}
li{
    color: white;
}
h2{
    color: white;
}

.center{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
  padding-top: 5%;
}
div#header {
    position: fixed;
       text-align: center;    
       width: 100%;
       background-color: black;
       
}
p{
    color: white;
}

i{
    color: white;
}
spkr{
    color: white;
    font-size: 18px;
}
span.robin.on{
    color: red;
}
span.cyborg.on{
    color: blue;
}

span.beastBoy.on{
    color: green;
}
span.starfire.on{
    color: yellow;
}
span.raven.on{
    color: purple;
}
div#fieldset {
    text-align: left;
    background-color: lightgrey;
    padding: 3px 3px 3px 3px;
}
section.container{
    display:flex;
    position: absolute;
    max-width: 100%;
    margin-top: 40px;
}
div#episode{
    flex: 1;
    border: 1px solid #00e600;
    flex-direction: column;
    margin: 2px;
    padding: 10px;
}
div#issue{
    flex:1;
    border: 1px solid #00e600;
    flex-direction: column;
    margin: 2px;
    padding: 10px;
}
a:link {color: orange;}      /* unvisited link */
a:visited {color:#1aa3ff
;}  /* visited link */
a:hover {color:#00e600
;}  /* mouse over link */